.transactionHistory {
  width: 500px;
  border-radius: 10px;
  margin: 0 auto 30px;
  overflow: hidden;
  /* background-color: tomato; */
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: white;
  text-transform: uppercase;

  background-image: repeating-linear-gradient(
    to bottom,
    rgb(0, 183, 255),
    rgb(0, 183, 255) 10px,
    rgb(75, 204, 255) 10px,
    rgb(75, 204, 255) 10.5px
  );
}

.title:first-child {
  border-top-left-radius: 10px;
}
.title:last-child {
  border-top-right-radius: 10px;
}

.tableRow {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 10px;

  color: rgb(105, 105, 105);
  background-color: rgb(240, 240, 240);
}

.tableRow:nth-child(even) {
  background-color: rgb(247, 247, 247);
}

.tableRow td {
  padding: 10px 20px;
}

.tableRow:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.tableRow:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

td.type {
  text-transform: capitalize;
  text-align: start;
  padding: 10px 40px;
}
td.amount {
  font-weight: 700;
}
